
<!DOCTYPE html>
<meta charset="utf-8">
<html>
	<head>
		<title>Accommodation</title>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="icon" href="../static/images/icons/a.ico" type="image/x-icon">
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</head>

	<body>
		<!--navigation menu-->
		{% extends "base.html" %}
		{% block body_contents %}

		<div class="block-4">
			<div class="block-4-1" style="background-image: url('../static/images/bg-img/ella_kanis.jpg');">
        		<div class="container">
          			<div class="row">
            			<div class="col-1">
              				<h3 class="heading3">Accommodation</h3>
            			</div>
          			</div>
        		</div>
      		</div>
		</div>

		<div class="block-5">
			<div class="container">

				<div class="row" style="margin-bottom: 50px;">
					<div class="col-1">
						<div class="block-5-1">
							<div class="b51-order">
								<span class="b51-span">Order by:</span>
	                            <select class="b31-select">
	                              <option selected>Default</option>
	                              <option value="relevant">Relevant</option>
	                              <option value="newest">Newest</option>
	                              <option value="popularity">Popularity</option>
	                              <option value="ratings">Ratings</option>
	                              <option value="price1">Price(lowest first)</option>
	                              <option value="price2">Price(highest first)</option>
	                            </select>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="block-7">
                        {% for i in range(0,len) %}

                        <div class="b7-wrap">
                            <a href="{{  url_for('detail', prop_id=data[i][0][0] )}}" class="b7-a">
                                <img class="b7-image"  src="../static/images/room_pics/{{img[i][0][0]}}"></img>
                            </a>
                            <div class="b7-info">
                                <h7 >{{data[i][0][12]}}</h7>
                                <div class="b7-price"><sub class="b7-sub">$<span class="b7-number">{{data[i][0][7]}}</span>/per night</sub>
                                </div>
                                <ul class="b7-ul">
                                  <li class="b7-li"><strong>Type:</strong> {{data[i][0][14].capitalize()}}</li>
                                  <li class="b7-li"><strong>Beds:</strong> {{data[i][0][2]}}</li>
                                  <li class="b7-li"><strong>Bathroom:</strong> {{data[i][0][3]}} </li>
                                  <li class="b7-li"><strong>Guests:</strong> {{data[i][0][4]}} </li>
                                  <li class="b7-li"><strong>Suburb:</strong> {{data[i][0][8]}}</li>
                                </ul>

                                <p><a href="{{  url_for('detail',prop_id=data[i][0][0] )  }}" class="btn btn-primary b7-button">Details</a></p>
                            </div>
                        </div>
                        {% endfor %}
				</div>

				<div class="block-8">
                    <nav aria-label="b8-nav">
                        <ul class="b8-ul">
                            <li class="b8-li">
                                <a class="b8-pagenum" href="#">&laquo;</a>
                            </li>
                            <li class="b8-li">
                                <a class="b8-pagenum b8-active" href="#">01</a>
                            </li>
                            <li class="b8-li">
                                <a class="b8-pagenum" href="#">02</a>
                            </li>
                            <li class="b8-li">
                                <a class="b8-pagenum" href="#">03</a>
                            </li>
                            <li class="b8-li">
                                <a class="b8-pagenum" href="#">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>

			</div>
		</div>
		</div>
		<!--main content end-->

{% endblock %}
		<!--foot meta-->

	</body>
</html>




