
		<!--navigation menu-->
		<nav class="my-nav-bar">
	        <div class="container">
	           <a class="my-navbar-name" href="{{  url_for('homepage')  }}">AquaBNB</a>

				<div class="my-navbar-menu">
					<div class="my-nav-menu"><a class="my-nav-link" href="{{  url_for('homepage')  }}">Home</a></div>
					<!--<div class="my-nav-menu"><a class="my-nav-link" href="{{  url_for('accommodation')  }}">Accommodation</a></div>-->
					<div class="my-nav-menu"><a class="my-nav-link" href="{{  url_for('services')  }}">Become a host</a></div>
					<div class="my-nav-menu"><a class="my-nav-link" href="{{  url_for('contact')  }}">Contact</a></div>

				</div>
				{% if not session['logged_in'] %}
				<div class="my-navbar-sign">
					<div class="my-nav-menu"><a class="my-nav-sign" href="{{  url_for('signup')  }}">Sign up</a></div>
					<div class="my-nav-slash">/</div>
					<div class="my-nav-menu"><a class="my-nav-sign" href="{{  url_for('login')  }}">Sign in</a></div>
				</div>
				{% else %}

				<div class="my-navbar-sign">
					<div class="my-nav-menu"><a class="my-nav-link" href="{{  url_for('logout')  }}">Logout</a></div>
				</div>
				{% endif %}
                {% if session['logged_in'] %}
	            <div class="my-navbar-setting">
	                <img class="my-nav-icon" onclick="javascript:location.href='{{  url_for('profile', id = session['user_id'])  }}'"
	                src="../static/images/icons/setting-999999.png"
	                 onmouseover="this.src='../static/images/icons/setting-ffcc00.png'"
	                 onmouseout="this.src='../static/images/icons/setting-999999.png'"/>
	            </div>
                	{% endif %}
	        </div>
	    </nav>


{% block body_contents %}
{% endblock %}

  <footer class="footer-area">
            <!-- Main Footer Area -->
            <div class="main-footer-area">
                <div class="container" style="padding-bottom: 3rem;">
                    <div class="row">
                        <div class="block-6" style="width: 70%">
                            <div class="b6-title">
                                <h3>About us</h3>
                            </div>
                            <div class="b6-content">
                                <div class="b6-member">
                                    <figure class="b6-figure">
                                        <img src="../static/images/other/pri.png" class="b6-pic">
                                    </figure>
                                    <div class="b6-text">
                                        <h5 class="b6-heading">Priyanka S Sawant</h5>
                                        <h7 class="b6-h7">z5149937</h7>
                                        <h7 class="b6-h7">Backend</h7>
                                    </div>
                                </div>
                                <div class="b6-member">
                                    <figure class="b6-figure">
                                        <img src="../static/images/other/dong.JPG" class="b6-pic">
                                    </figure>
                                    <div class="b6-text">
                                        <h5 class="b6-heading">Youran Dong</h5>
                                        <h7 class="b6-h7">z5136941</h7>
                                        <h7 class="b6-h7">Backend</h7>
                                    </div>
                                </div>
                                <div class="b6-member">
                                    <figure class="b6-figure">
                                        <img src="../static/images/other/ella.png" class="b6-pic">
                                    </figure>
                                    <div class="b6-text">
                                        <h5 class="b6-heading">Yakun Zhao</h5>
                                        <h7 class="b6-h7">z5103010</h7>
                                        <h7 class="b6-h7">Frontend</h7>
                                    </div>
                                </div>
                                <div class="b6-member">
                                    <figure class="b6-figure">
                                        <img src="../static/images/other/timur.png" class="b6-pic">
                                    </figure>
                                    <div class="b6-text">
                                        <h5 class="b6-heading">Timur Abdiukov</h5>
                                        <h7 class="b6-h7">z5214048</h7>
                                        <h7 class="b6-h7">Database system</h7>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="block-6" style="width: 27%;">
                            <div class="b6-title">
                                <h3>Follow Us</h3>
                            </div>
                            <div class="b6-content" style="margin-left: 1rem;margin-top: 3rem;">
                                <img src="../static/images/icons/facebook.png" class="b6-icon">
                                <img src="../static/images/icons/twitter.png" class="b6-icon">
                                <img src="../static/images/icons/wechat.png" class="b6-icon">
                                <img src="../static/images/icons/google-plus.png" class="b6-icon">
                                <img src="../static/images/icons/instagram.png" class="b6-icon">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>