<!DOCTYPE html>
<meta charset="utf-8"> 
<html>
	<head>
		<title>contact</title>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="icon" href="../static/images/icons/a.ico" type="image/x-icon">
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</head>

	<body>
		<!--navigation menu-->
		{% extends "base.html" %}
{% block body_contents %}

		<div class="block-4">
			<div class="block-4-1" style="background-image: url('../static/images/bg-img/bg6.jpg');">
        		<div class="container">
          			<div class="row">
            			<div class="col-1">
              				<h3 class="heading3">Contact</h3>
            			</div>
          			</div>
        		</div>
      		</div>
		</div>

		<div class="block-10">
			<div class="row">
				<div class="col-1">
					<div class="b10-left">
						<form method="post" action="/contact">
							<h1>Get in Touch</h1>
							<input type="text" name="name" placeholder="  Name">
							<input type="text" name="email" placeholder="  Your email address">
							<textarea name="message" placeholder="  Message"></textarea>
							<input type="submit" name="submit" class="btn-primary">
						</form>
						
					</div>
					<div class="b10-right">
						<div class="b10-top">
							<h3>Connect with Us</h3>
							<span>For support or any questions:</span>
							<span>Email us: <a href="mailto:ellazhaomint@gmail.com">ellazhaomint@gmail.com</a></span>
						</div>
						<div class="b10-bottom">
							<h3>OurHotel Sydney</h3>
							<span>Lab 304-Oboe, J17 Mech Eng</span>
							<span>University of New South Wales-Kensington Campus</span>
							<span>High St, Sydney NSW 2052</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--foot meta-->
{% endblock %}
</body>
</html>