<!DOCTYPE html>
<meta charset="utf-8"> 

<html>
	<head>
		<title>detail</title>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="icon" href="../static/images/icons/a.ico" type="image/x-icon"> 
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

	</head>
	<script type="text/javascript">
		 /*This block for: control Button Plus&Minus*/
        jQuery(document).ready(function(){
            // This button will increment the value
            $('.qtyplus').click(function(e){
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                fieldName = $(this).attr('field');
                // Get its current value
                var currentVal = parseInt($('input[name='+fieldName+']').val());
                // If is not undefined
                if (!isNaN(currentVal) && currentVal < 7) {
                    // Increment
                    $('input[name='+fieldName+']').val(currentVal + 1);
                } else {
                    // Otherwise put a 0 there
                    $('input[name='+fieldName+']').val("8+");
                }
            });
            // This button will decrement the value till 0
            $(".qtyminus").click(function(e) {
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                fieldName = $(this).attr('field');
                // Get its current value
                var currentVal = parseInt($('input[name='+fieldName+']').val());
                // If it isn't undefined or its greater than 0
                if (!isNaN(currentVal) && currentVal > 0) {
                    // Decrement one
                    $('input[name='+fieldName+']').val(currentVal - 1);
                } else {
                    // Otherwise put a 0 there
                    $('input[name='+fieldName+']').val(0);
                }
            });
        });
        jQuery(document).ready(function(){
            // This button will increment the value
            $('.qtyplus1').click(function(e){
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                fieldName = $(this).attr('field');
                // Get its current value
                var currentVal = parseInt($('input[name='+fieldName+']').val());
                // If is not undefined
                if (!isNaN(currentVal) && currentVal < 7) {
                    // Increment
                    $('input[name='+fieldName+']').val(currentVal + 1);
                } else {
                    // Otherwise put a 0 there
                    $('input[name='+fieldName+']').val("8+");
                }
            });
            // This button will decrement the value till 0
            $(".qtyminus1").click(function(e) {
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                fieldName = $(this).attr('field');
                // Get its current value
                var currentVal = parseInt($('input[name='+fieldName+']').val());
                // If it isn't undefined or its greater than 0
                if (!isNaN(currentVal) && currentVal > 0) {
                    // Decrement one
                    $('input[name='+fieldName+']').val(currentVal - 1);
                } else {
                    // Otherwise put a 0 there
                    $('input[name='+fieldName+']').val(0);
                }
            });
        });


	</script>
	<body>
		<!--navigation menu-->

{% extends "base.html" %}
{% block body_contents %}

		<div class="block-4">
			<div class="block-4-1" style="background-image: url('../static/images/bg-img/syd.png');height: 200px;">
        		<div class="container">
          			<div class="row">
            			<div class="col-1">
              				<h3 class="heading3" style="margin-top: -15px;">Detail</h3>
            			</div>
          			</div>
        		</div>
      		</div>
		</div>



		<div class="block-9">
			<div class="row">
				<div class="col-1">
					<div class="b9-top">
						<div class="b9-imgshow">

							{% for i in img %}
							<div class="mySlides fade">
								<img src="../static/images/room_pics/{{i}}" style="width:100%; height: 50%;">
							</div>

							{% endfor %}
							<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
							<a class="next" onclick="plusSlides(1)">&#10095;</a>
							<div style="text-align:center;">
								{% for i in range(0,l) %}
								<span class="dot" onclick="currentSlide(i)"></span>
								{% endfor %}
							</div>
						</div>


						<script type="text/javascript">
							//images show:
							var slideIndex = 1;
							showSlides(slideIndex);

							function plusSlides(n) {
							  	showSlides(slideIndex += n);
							}

							function currentSlide(n) {
							  	showSlides(slideIndex = n);
							}

							function showSlides(n) {
								var i;
								var slides = document.getElementsByClassName("mySlides");
								var dots = document.getElementsByClassName("dot");
								if (n > slides.length) {slideIndex = 1}
								if (n < 1) {slideIndex = slides.length}
								for (i = 0; i < slides.length; i++) {
									slides[i].style.display = "none";
								}
								for (i = 0; i < dots.length; i++) {
									dots[i].className = dots[i].className.replace(" active", "");
								}
								slides[slideIndex-1].style.display = "block";
								dots[slideIndex-1].className += " active";
							}
							/*This block is for calendar*/
							$('input[name="dates"]').daterangepicker();
							$(function() {
								$('input[name="datetimes"]').daterangepicker({
									timePicker: true,
									startDate: moment().startOf('hour'),
									endDate: moment().startOf('hour').add(32, 'hour'),
									locale: {
								  		format: 'M/DD hh:mm A'
									}
								});
							});
						</script>

						<div class="b9-booking" style="height: 500px">
							<form method="post" action="{{url_for('book', id=data[0])}}">
								<h2 class="b9-name" id="propertyname">{{data[12]}}</h2>
								<div class="b9-item">
									<sub class="b9-sub">$<span class="b9-number" id="pernightfee">{{data[7]}}</span>/per night</sub>
								</div>
								<div class="b9-item" style="margin-top: 10px;margin-bottom: 20px;">
									<span class="b9-label">Dates:</span>
									<input class="form-control b9-input" type="text" name="datetimes"/>
								</div>
								<div class="b9-item">
									<span class="b9-label">Adults:</span>
									<input type='button' class='qtyminus' value='-' field='quantity' style="margin-left: 4rem;" />
	                                <input type='text' name='quantity' value='0' class='qty' />
	                                <input type='button' class='qtyplus' value='+' field='quantity' />
								</div>
								<div class="b9-item">
									<span class="b9-label">Children:</span>
									<input type='button' class='qtyminus1' value='-' field='quantity1' style="margin-left: 3.15rem;" />
	                                <input type='text' name='quantity1' value='0' class='qty' />
	                                <input type='button' class='qtyplus1' value='+' field='quantity1' />
								</div>
								<div class="b9-item" style="margin-top: 20px;">
									<div>
										<span class="b9-label">Nights:</span>
										<div class="b9-fee">
											<span class="b9-feenum" id="nights">1</span>
										</div>
									</div>
									<div>
										<span class="b9-label">Service Fee:</span>
										<div class="b9-fee">
											$<span class="b9-feenum" id="servicefee">20</span>
										</div>
									</div>
									<div>
										<span class="b9-label" style="font-weight: 500;">Total Fee:</span>
										<div class="b9-fee" style="font-weight: 500;" >
											$<span class="b9-feenum"id="totalfee" style="font-weight: 500;" >{{data[7]+20}}</span>
										</div>
									</div>
                                    {% if data[21] !='booked' %}
                                      <div class="b9-item" style="margin-top: 20px;">
										{% if session['status']== 'booked' %}

                                            <span>You have booked this place</span>

										{% elif  session['status']== 'saved' %}

									<input type="submit" name="book" class="btn b9-button" value="BOOK">

									{% else %}

										<input type="submit" name="book" class="btn b9-button" value="BOOK">
										  <input type="submit" name="book" class="btn b9-button" value="SAVE">
								{% endif %}

									  </div>
                                    {% else %}
                                     <div class="b9-item" style="margin-top: 20px;">
                                         <span> This property is booked</span>
                                     </div>

                                    {% endif %}
								</div>

							</form>
						</div>
					</div>
					<!--End of top part-->

					<div class="b9-bottom" style="margin-top: 50px">
						<div class="b9-overview">
							<div class="b9-location">
								<img src="../static/images/icons/location-ffcc00.png" style="margin-bottom: -3px;">
								<span id="suburb">{{data[8]}}</span>
							</div>
							<div class="b9-type">
								<span id="propertytype">{{data[13].capitalize()}}</span>
							</div>
							<div class="b9-capacity">
								<span id="bathroomnum"><img src="../static/images/icons/bathtub.png" class="b9-icon"> {{data[3]}} bathrooms</span>
								<span id="bedroomnum"><img src="../static/images/icons/bedroom.png" class="b9-icon">  {{data[1]}} bedrooms</span>
								<span id="bednum"><img src="../static/images/icons/bed.png" class="b9-icon"> {{data[2]}} beds</span>
								<span id="guestnum"><img src="../static/images/icons/guest.png" class="b9-icon"> {{data[4]}} guests</span>
							</div>
							<div class="b9-subblock">
								<div class="b9-sublabel">
									<p>Amenities</p>
								</div>
                                {% if ',13,' in data[17] %}
								<div class="b9-three" id="amenities7"><img src="../static/images/icons/wifi.png" class="b9-icon"> Wireless Internet</div>
								{% endif %}

								{% if '15' in data[17] %}
                                <div class="b9-three" id="amenities1"><img src="../static/images/icons/kitchen.png" class="b9-icon"> Kitchen</div>
								{% endif %}
								{% if '1' in data[17] %}
                                <div class="b9-three" id="amenities4">
									<img src="../static/images/icons/air-conditioner.png" class="b9-icon"> Air Condition
								</div>
								{% endif %}
                                  {% if '17' in data[17] %}
								<div class="b9-three" id="amenities2"><img src="../static/images/icons/shampoo.png" class="b9-icon"> Shampoo</div>
								{% endif %}
								 {% if '18' in data[17] %}
								<div class="b9-three" id="amenities11"><img src="../static/images/icons/hair-dryer.png" class="b9-icon"> Hair Dryer</div>
									{% endif %}
								{% if '14' in data[17] %}
								<div class="b9-three" id="amenities13"><img src="../static/images/icons/iron.png" class="b9-icon"> Iron</div>
								{% endif %}
								{% if '20' in data[17] %}
								<div class="b9-three" id="amenities5"><img src="../static/images/icons/washer.png" class="b9-icon"> Washer</div>
								{% endif %}
										{% if '7' in data[17] %}
							<div class="b9-three" id="amenities6"><img src="../static/images/icons/dryer.png" class="b9-icon"> Dryer</div>
									{% endif %}
											{% if '9' in data[17] %}
							<div class="b9-three" id="amenities12"><img src="../static/images/icons/hangers.png" class="b9-icon"> Hangers</div>
										{% endif %}

										{% if '2' in data[17] %}
							<div class="b9-three" id="amenities8"><img src="../static/images/icons/breakfast.png" class="b9-icon"> Breakfast</div>
										{% endif %}

							{% if '19' in data[17] %}
						<div class="b9-three" id="amenities14"><img src="../static/images/icons/tv.png" class="b9-icon"> TV</div>

						{% endif%}
								{% if '12' in data[17] %}
					<div class="b9-three" id="amenities9"><img src="../static/images/icons/fireplace.png" class="b9-icon"> Indoor fireplace</div>
						{% endif %}
								{% if '10' in data[17] %}
								<div class="b9-three" id="amenities3"><img src="../static/images/icons/heating.png" class="b9-icon"> Heating</div>

						{% endif %}

								{% if '16' in data[17] %}
								 <div class="b9-three" id="amenities19"><img src="../static/images/icons/laptop.png" class="b9-icon"> Laptop friendly</div>

						{% endif %}

									{% if '5' in data[17] %}
								<div class="b9-three" id="amenities15"><img src="../static/images/icons/crib.png" class="b9-icon"> Crib</div>

						{% endif %}
										{% if '11' in data[17] %}
								<div class="b9-three" id="amenities16"><img src="../static/images/icons/high-chair.png" class="b9-icon"> High chair</div>

						{% endif %}
										{% if '22' in data[17] %}
								<div class="b9-three" id="amenities17"><img src="../static/images/icons/selfcheckin.png" class="b9-icon"> Self check-in</div>
						{% endif %}
						{% if '6' in data[17] %}
								<div class="b9-three" id="amenities10"><img src="../static/images/icons/doorman.png" class="b9-icon"> Doorman</div>
								{% endif %}
								{% if '18' in data[17] %}
							<div class="b9-three" id="amenities18">
									<img src="../static/images/icons/smokedetector.png" class="b9-icon"> Smoke Detector
								</div>
								{% endif %}
								{% if '3' in data[17] %}
							<div class="b9-three" id="amenities21"><img src="../static/images/icons/intercom.png" class="b9-icon"> Intercom</div>

								{% endif %}
								{% if '4' in data[17] %}
								<div class="b9-three" id="amenities20">
									<img src="../static/images/icons/codetector.png" class="b9-icon"> CO detector
								</div>	{% endif %}



							</div>

							<div class="b9-subblock">
								<div class="b9-sublabel">
									<p>Facilities</p>
								</div>

								 {% if '2' in data[18] %}
								<div class="b9-two" id="facilities1"><img src="../static/images/icons/gym.png" class="b9-icon"> Gym</div>
									{% endif %}
								{% if '1' in data[18] %}
								<div class="b9-two" id="facilities2"><img src="../static/images/icons/spa.png" class="b9-icon"> Spa</div>
									{% endif %}
								{% if '0' in data[18] %}
								<div class="b9-two" id="facilities3"><img src="../static/images/icons/pool.png" class="b9-icon"> Pool</div>
									{% endif %}
								{% if '3' in data[18] %}
								<div class="b9-two" id="facilities4"><img src="../static/images/icons/freeparking.png" class="b9-icon"> Free parking on premises</div>
									{% endif %}

							</div>

						</div>

						<div class="b9-right">
							<div class="b9-rightblock" style="border-bottom: 1px solid #cccccc;">
								<div class="b9-name">
									<p>Unit Rules</p>
								</div>
								{% if '1' in data[16] %}
								<div class="b9-one" id="rule1"><img src="../static/images/icons/event.png" class="b9-icon"> Suitable for events</div>
								{% endif %}
									{% if '2' in data[16] %}
								<div class="b9-one" id="rule2"><img src="../static/images/icons/pet.png" class="b9-icon"> Pets allowed</div>
								{% endif %}
								{% if '3' in data[16] %}
								<div class="b9-one" id="rule3"><img src="../static/images/icons/smoking.png" class="b9-icon"> Smoking allowed</div>
								{% endif %}
							</div>
							<div class="b9-rightblock">
								<div class="b9-name">
									<p>Description</p>
								</div>
								<p class="b9-description" name="description">
									{{ data[15] }}
								</p>
							</div>
						</div>
					</div>
					<!--end of facilities and other things-->

					{% if reviews %}
					<div class="b9-reviews">
						<div class="b9-sublabel">
							<p style="margin-left: 10%;">Reviews</p>
						</div>
						{% for review in reviews %}
						<div class="b9-review-item">
							<div class="b9-summary">
								<span class="b9-userinfo" id="username"><strong>{{review[2]}} </strong> </span>
								<span class="b9-userinfo" id="review-date"><img src="/static/images/user_pics/{{review[3]}}" alt="" style="height: 60px; width: 60px; display: inline-block;border-radius: 50% !important;
    ;"></span>
							</div>
							<div class="b9-detail">
								<span class="b9-comment" id="review-content">
								{{review[0]}}
								</span>
							</div>
						</div>
					{% endfor %}


					</div>
					{% endif%}
					<!--end of review-->

				</div>
			</div>
		</div>

		<!--foot meta-->
	{% endblock %}
</body>
</html>