<!DOCTYPE html>
<meta charset="utf-8"> 
<html>
	<head>
		<title>Edit</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="icon" href="../static/images/icons/a.ico" type="image/x-icon"> 
	</head>

	<script type="text/javascript">
		/*This block for: control Button Plus&Minus*/
		jQuery(document).ready(function(){
		    // This button will increment the value
		    $('.qtyplus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If is not undefined
		        if (!isNaN(currentVal) && currentVal < 7) {
		            // Increment
		            $('input[name='+fieldName+']').val(currentVal + 1);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val("8+");
		        }
		    });
		    // This button will decrement the value till 0
		    $(".qtyminus").click(function(e) {
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If it isn't undefined or its greater than 0
		        if (!isNaN(currentVal) && currentVal > 0) {
		            // Decrement one
		            $('input[name='+fieldName+']').val(currentVal - 1);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val(0);
		        }
		    });
		});
		jQuery(document).ready(function(){
		    // This button will increment the value
		    $('.qtyplus1').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If is not undefined
		        if (!isNaN(currentVal) && currentVal < 7) {
		            // Increment
		            $('input[name='+fieldName+']').val(currentVal + 1);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val("8+");
		        }
		    });
		    // This button will decrement the value till 0
		    $(".qtyminus1").click(function(e) {
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If it isn't undefined or its greater than 0
		        if (!isNaN(currentVal) && currentVal > 0) {
		            // Decrement one
		            $('input[name='+fieldName+']').val(currentVal - 1);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val(0);
		        }
		    });
		});



		/*This block is for calendar*/
		$('input[name="dates"]').daterangepicker();
		$(function() {
			$('input[name="datetimes"]').daterangepicker({
				timePicker: true,
				startDate: moment().startOf('hour'),
				endDate: moment().startOf('hour').add(32, 'hour'),
				locale: {
			  		format: 'M/DD hh:mm A'
				}
			});
		});
	</script>

	<body>
		<!--navigation menu-->
		<nav class="my-nav-bar">
	        <div class="container">
	           <a class="my-navbar-name" href="{{  url_for('homepage')  }}">OurHotel</a>

				<div class="my-navbar-menu">
					<div class="my-nav-menu"><a class="my-nav-link" href="{{  url_for('homepage')  }}">Home</a></div>
					<div class="my-nav-menu"><a class="my-nav-link" href="{{  url_for('accommodation')  }}">Accommodation</a></div>
					<div class="my-nav-menu"><a class="my-nav-link" href="{{  url_for('services')  }}">Services</a></div>
					<div class="my-nav-menu"><a class="my-nav-link" href="{{  url_for('contact')  }}">Contact</a></div>

				</div>

				<div class="my-navbar-sign">
					<div class="my-nav-menu"><a class="my-nav-sign" href="{{  url_for('signup')  }}">Sign up</a></div>
					<div class="my-nav-slash">/</div>
					<div class="my-nav-menu"><a class="my-nav-sign" href="{{  url_for('signin')  }}">Sign in</a></div>
				</div>

	            <div class="my-navbar-setting">
	                <img class="my-nav-icon" onclick="javascript:location.href='setting.html'"
	                src="../static/images/icons/setting-999999.png"
	                 onmouseover="this.src='../static/images/icons/setting-ffcc00.png'"
	                 onmouseout="this.src='../static/images/icons/setting-999999.png'"/>
	            </div>
	        </div>
	    </nav>


		<div class="block-3">
			<div class="block-3-1" style="background-image: url('../static/images/bg-img/bg3.jpg');"></div>
			<div class="b31-contain-wrap">
				<div class="b31-form-title">
					<span class="b31-form-title-1">
						Post
					</span>

					<span class="b31-form-title-2">
						Please fill out all forms
					</span>
				</div>

				<script type="text/javascript">
					/*This block for:control onclick show block*/
					function radioShow(){
						var myradio=document.getElementsByName("atype");  //
						var div=document.getElementById("subradio").getElementsByTagName("div");
						for(i=0;i<div.length;i++){
							if(myradio[i].checked){
								div[i].style.display="block";
							}
							else{
								div[i].style.display="none";
							}
						}
					}
				</script>
				<!--form-->
				<!-- new -->
				<script type="text/javascript">
					/*This is for hidden adv search*/
			        function editAcc() {
			            var x = document.getElementById("hideAcc");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editBedroom() {
			            var x = document.getElementById("hideBedroom");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editBathroom() {
			            var x = document.getElementById("hideBathroom");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editGnum() {
			            var x = document.getElementById("hideGnum");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editAmen() {
			            var x = document.getElementById("hideAmen");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editFac() {
			            var x = document.getElementById("hideFac");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editRule() {
			            var x = document.getElementById("hideRule");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editAddress() {
			            var x = document.getElementById("hideAddress");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editSuburb() {
			            var x = document.getElementById("hideSuburb");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editPostcode() {
			            var x = document.getElementById("hidePostcode");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editTitle() {
			            var x = document.getElementById("hideTitle");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editData() {
			            var x = document.getElementById("hideData");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editPrice() {
			            var x = document.getElementById("hidePrice");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editPhoto() {
			            var x = document.getElementById("hidePhoto");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editDes() {
			            var x = document.getElementById("hideDes");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editName() {
			            var x = document.getElementById("hideName");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editEmail() {
			            var x = document.getElementById("hideEmail");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
			        function editPhone() {
			            var x = document.getElementById("hidePhone");
			            if (x.style.display === "none") {
			                x.style.display = "block";
			            } else {
			                x.style.display = "none";
			            }
			        }
				</script>
				<form action="#" class="b31-sign-form">
					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Accommodation Type:</span>
						<button class="btn btn-primary b9-message"  onclick="editAcc();return false;">Edit</button>
						<span class="b31-show">your accomdation type</span>
						<div class="b31-hidediv" id="hideAcc">
							<ul class="b31-ul">
								<li class="b31-li-two">
									<label class="b31-label">
										<input class="b31-input-radio" type="radio" name="atype" value="apartment"  onclick="radioShow();">Apartment
									</label>
								</li>
								<li class="b31-li-two">
									<label class="b31-label">
										<input class="b31-input-radio" type="radio" name="atype" value="hotel"  onclick="radioShow();">House
									</label>
								</li>
							</ul>
						
						

						<!--this is the start of hidden part of div-->
						<!--Part1:Apartment-->
						<div id="subradio" class="b31-input-table" style="margin-left: 30px;">
							<div class="b31-c1" style="display:none;">
								<table class="b31-table">
									<tr class="b31-table-tr">
										<td class="b31-table-td">
											<span class="b31-sub-name">Choose a type:</span>
										</td>
										<td class="b31-table-td">
											<select class="b31-select" name="type-apa">
												<option value="">Select Property Type</option>
												<option value="apartment">Apartment</option>
												<option value="condominium">Condominium</option>
												<option value="casa">Casa particular</option>
												<option value="loft">Loft</option>
												<option value="serviced">Serviced Apartment</option>
											</select>
										</td>
									</tr>
								</table>	
							</div>

							<!--Part2:House-->
							<div class="b31-c1" style="display:none;">
								<table class="b31-table">
									<tr class="b31-table-tr">
										<td class="b31-table-td">
											<span class="b31-sub-name">Choose a type:</span>
										</td>
										<td class="b31-table-td">
											<select class="b31-select" name="type-house">
												<option value="">Select Property Type</option>
												<option value="house">House</option>
												<option value="bungalow">Bungalow</option>
												<option value="cabin">Cabin</option>
												<option value="casa">Casa particular</option>
												<option value="chalet">Chalet</option>
												<option value="cottage">Cottage</option>
												<option value="domehouse">Dome House</option>
												<option value="earthhouse">Earth House</option>
												<option value="farmstay">Farm Stay</option>
												<option value="hut">Hut</option>
												<option value="tinyhouse">Tiny House</option>
												<option value="townhouse">Townhouse</option>
												<option value="trullo">Trullo</option>
												<option value="villa">Villa</option>
											</select>
										</td>
									</tr>
								</table>	
							</div>
						</div>
						<!----                   end of hidden part                     ----->
						</div>
					</div>
					
					

					<script type="text/javascript">
						function addFields(){
				            // Number of inputs to create
				            var number = document.getElementById("bedroom").value;
				            // Container <div> where dynamic content will be placed
				            var container = document.getElementById("container");
				            // Clear previous contents of the container
				            while (container.hasChildNodes()) {
				                container.removeChild(container.lastChild);
				            }
				            container.appendChild(document.createTextNode("Please list the number of beds:"));
				            container.appendChild(document.createElement("br"));
				            for (i=0;i<number;i++){
				                // Append a node with a random text
				                container.appendChild(document.createTextNode("Bedroom" + (i+1) + " : "));
				                // Create an <input> element, set its type and name attributes
				                var input = document.createElement("input");
				                input.type = "text";
				                input.id = "hid-text" + i;
				                input.name = "bedroom" + i;
				                container.appendChild(input);
				                // Append a line break 
				                container.appendChild(document.createElement("br"));
				            }
				        }
					</script>
					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Bedroom (max.10):</span>
						<button class="btn btn-primary b9-message"  onclick="editBedroom();return false;">Edit</button>
						<span class="b31-show">your bedroom num</span>
						<div class="b31-hidediv" id="hideBedroom">
							<input  class="b31-small-input" type="text" id="bedroom" name="bedroom" value="0" >
							<!--update 0904-->
							<input type="button" id="filldetails" value="OK" class="b31-confirm-btn" onclick="addFields()">
							<div class="b31-input-hidden">
								<div id="container">
							</div>
						</div>
					</div>

					<div class="b31-input-wrap validate-input" data-validate="Phone is required" style="margin-top: 20px;">
						<span class="b31-input-name">Bathroom:</span>
						<button class="btn btn-primary b9-message"  onclick="editBathroom();return false;">Edit</button>
						<span class="b31-show">your bathroom num</span>
						<div class="b31-hidediv" id="hideBathroom">
							<input type='button' class='qtyminus' value='-' field='quantity'/>
						    <input type='text' name='quantity' value='0' class='qty' />
						    <input type='button' class='qtyplus' value='+' field='quantity' />
						</div>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Max Guest Number:</span>
						<button class="btn btn-primary b9-message"  onclick="editGnum();return false;">Edit</button>
						<span class="b31-show">your guest num</span>
						<div class="b31-hidediv" id="hideGnum">
							<input type='button' class='qtyminus1' value='-' field='quantity1'/>
						    <input type='text' name='quantity1' value='0' class='qty' />
						    <input type='button' class='qtyplus1' value='+' field='quantity1' />
						</div>
					</div>

					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Amenities:</span>
						<button class="btn btn-primary b9-message"  onclick="editAmen();return false;">Edit</button>
						<span class="b31-show">your amenities</span>
						<div class="b31-hidediv" id="hideAmen" style="text-align: left;">
							<ul class="b31-ul" style="margin-left: 20px;">
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="a" id="amenities1">
									<label class="b31-checkbox-label" for="amenities1">Kitchen</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="b" id="amenities2">
									<label class="b31-checkbox-label" for="amenities2">Shampoo</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities3">
									<label class="b31-checkbox-label" for="amenities3">Heating</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities4">
									<label class="b31-checkbox-label" for="amenities4">Air conditioning</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities5">
									<label class="b31-checkbox-label" for="amenities5">Washer</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities6">
									<label class="b31-checkbox-label" for="amenities6">Dryer</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities7">
									<label class="b31-checkbox-label" for="amenities7">Wireless Internet</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities8">
									<label class="b31-checkbox-label" for="amenities8">Breakfast</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities9">
									<label class="b31-checkbox-label" for="amenities9">Indoor fireplace</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities10">
									<label class="b31-checkbox-label" for="amenities10">Doorman</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities11">
									<label class="b31-checkbox-label" for="amenities11">Hair dryer</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities12">
									<label class="b31-checkbox-label" for="amenities12">Hangers</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities13">
									<label class="b31-checkbox-label" for="amenities13">Iron</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities14">
									<label class="b31-checkbox-label" for="amenities14">TV</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities15">
									<label class="b31-checkbox-label" for="amenities15">Crib</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities16">
									<label class="b31-checkbox-label" for="amenities16">High chair</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities17">
									<label class="b31-checkbox-label" for="amenities17">Self check-in</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities18">
									<label class="b31-checkbox-label" for="amenities18">Smoke detector</label>
								</li>
								<li class="b31-li-two" style="display: block; width: 20rem;">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities19">
									<label class="b31-checkbox-label" for="amenities19">Laptop friendly workspace</label>
								</li>
								<li class="b31-li-two" style="display: block; width: 20rem;">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities20">
									<label class="b31-checkbox-label" for="amenities20">Carbon monoxide detector</label>
								</li>
								<li class="b31-li-two" style="display: block; width: 20rem;">
									<input class="b31-checkbox" type="checkbox" name="amenities" value="c" id="amenities21">
									<label class="b31-checkbox-label" for="amenities21">Buzzer/wireless intercom</label>
								</li>
							</ul>
						</div>
					</div>

					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Facilities:</span>
						<button class="btn btn-primary b9-message"  onclick="editFac();return false;">Edit</button>
						<span class="b31-show">your facilities</span>
						<div class="b31-hidediv" id="hideFac" style="text-align: left;">
							<ul class="b31-ul" style="margin-left: 50px;">
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="facilities" value="a" id="facilities1">
									<label class="b31-checkbox-label" for="facilities1">Gym</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="facilities" value="b" id="facilities2">
									<label class="b31-checkbox-label" for="facilities2">Spa</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="facilities" value="c" id="facilities3">
									<label class="b31-checkbox-label" for="facilities3">Pool</label>
								</li>
								<li class="b31-li-two" style="display: block; width: 20rem;">
									<input class="b31-checkbox" type="checkbox" name="facilities" value="c" id="facilities4">
									<label class="b31-checkbox-label" for="facilities4">Free parking on premises</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Unit Rules:</span>
						<button class="btn btn-primary b9-message"  onclick="editRule();return false;">Edit</button>
						<span class="b31-show">your rules</span>
						<div class="b31-hidediv" id="hideRule" style="text-align: left;">
							<ul class="b31-ul" style="margin-left: 50px;">
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="rule" value="a" id="rule1">
									<label class="b31-checkbox-label" for="rule1">Suitable for events</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="rule" value="b" id="rule2">
									<label class="b31-checkbox-label" for="rule2">Pets allowed</label>
								</li>
								<li class="b31-li-two">
									<input class="b31-checkbox" type="checkbox" name="rule" value="c" id="rule3">
									<label class="b31-checkbox-label" for="rule3">Smoking allowed</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Address is required">
						<span class="b31-input-name">Full Address:</span>
						<button class="btn btn-primary b9-message"  onclick="editAddress();return false;">Edit</button>
						<span class="b31-show">your address</span>
						<div class="b31-hidediv" id="hideAddress">
							<input class="b31-input-form b31-editinput" type="text" name="address" placeholder="Enter Full Address">
						</div>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Suburb/Town is required">
						<span class="b31-input-name">Suburb/Town:</span>
						<button class="btn btn-primary b9-message"  onclick="editSuburb();return false;">Edit</button>
						<span class="b31-show">your Surburb</span>
						<div class="b31-hidediv" id="hideSuburb">
							<input class="b31-input-form b31-editinput" type="text" name="suburb" placeholder="Enter name of Suburb/Town">
						</div>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Poscode is required">
						<span class="b31-input-name">Poscode:</span>
						<button class="btn btn-primary b9-message"  onclick="editPostcode();return false;">Edit</button>
						<span class="b31-show">your Postcode</span>
						<div class="b31-hidediv" id="hidePostcode">
						<input class="b31-input-form b31-editinput" type="text" name="poscode" placeholder="Enter Poscode">
						</div>
					</div>
					<div class="b31-input-wrap validate-input" data-validate = "Title is required">
						<span class="b31-input-name">Title:</span>
						<button class="btn btn-primary b9-message"  onclick="editTitle();return false;">Edit</button>
						<span class="b31-show">your Title</span>
						<div class="b31-hidediv" id="hideTitle">
							<input class="b31-input-form b31-editinput" type="text" name="title" placeholder="Enter Title of your property">
						</div>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Date Range is required">
						<span class="b31-input-name">Available Date Range:</span>
						<button class="btn btn-primary b9-message"  onclick="editData();return false;">Edit</button>
						<span class="b31-show">your Data range</span>
						<div class="b31-hidediv" id="hideData">
							<input class="b31-input-form b31-editinput" type="text" name="datetimes" style="text-align: center;" />
						</div>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Price is required">
						<span class="b31-input-name">Price/Day:</span>
						<button class="btn btn-primary b9-message"  onclick="editPrice();return false;">Edit</button>
						<span class="b31-show">your Price/Day</span>
						<div class="b31-hidediv" id="hidePrice">
							<span class="b31-dollar">$</span>
	        				<input type="number"  class="b31-number" value="50" min="0" step="0.5" data-number-to-fixed="2" data-number-stepfactor="100"/>
	        			</div>
    				</div>
					<div class="b31-input-wrap validate-input" data-validate="Photos are required">
						<span class="b31-input-name">Photos:</span>
						<button class="btn btn-primary b9-message"  onclick="editPhoto();return false;">Edit</button>
						<span class="b31-show">your Photos</span>
						<div class="b31-hidediv" id="hidePhoto">
							<input type="file" name="pic1" accept="image/*">
							<input type="file" name="pic2" accept="image/*">
							<input type="file" name="pic3" accept="image/*">
							<input type="file" name="pic4" accept="image/*">
							<input type="file" name="pic5" accept="image/*">
							<input type="file" name="pic6" accept="image/*">
						</div>
					</div>
					<div class="b31-input-wrap validate-input" data-validate = "Description is required">
						<span class="b31-input-name">Short Description:</span>
						<button class="btn btn-primary b9-message"  onclick="editDes();return false;">Edit</button>
						<span class="b31-show">your Description</span>
						<div class="b31-hidediv" id="hideDes">
							<textarea class="b31-input-form b31-editinput" name="message" placeholder="Your Description..."></textarea>
						</div>
					</div>

					<div class="b31-input-wrap validate-input" data-validate="Name is required">
						<span class="b31-input-name">Full Name:</span>
						<button class="btn btn-primary b9-message"  onclick="editName();return false;">Edit</button>
						<span class="b31-show">your Full name</span>
						<div class="b31-hidediv" id="hideName">
							<input class="b31-input-form b31-editinput" type="text" name="name" placeholder="Enter full name">
						</div>
					</div>

					<div class="b31-input-wrap validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<span class="b31-input-name">Email:</span>
						<button class="btn btn-primary b9-message"  onclick="editEmail();return false;">Edit</button>
						<span class="b31-show">your Email</span>
						<div class="b31-hidediv" id="hideEmail">
							<input class="b31-input-form b31-editinput" type="text" name="email" placeholder="Enter email addess">
						</div>
					</div>

					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Phone:</span>
						<button class="btn btn-primary b9-message"  onclick="editPhone();return false;">Edit</button>
						<span class="b31-show">your Phone</span>
						<div class="b31-hidediv" id="hidePhone">
							<input class="b31-input-form b31-editinput" type="text" name="phone" placeholder="Enter phone number">
						</div>
					</div>
					
					<div class="b31-submit-wrap">
						<button class="b31-form-btn">
							<span>
								Submit
								<!--<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>-->
							</span>
						</button>
					</div>
				</form>
			</div>
		</div>

		<!--foot meta-->
		<footer class="footer-area" style="width: 100%;margin-left: -1.9rem;margin-bottom: -1.9rem;">
	        <!-- Main Footer Area -->
	        <div class="main-footer-area">
	            <div class="container" style="padding-bottom: 3rem;">
	                <div class="row">
						<div class="block-6" style="width: 70%">
							<div class="b6-title">
								<h3>About us</h3>
							</div>
                            <div class="b6-content">
                                <div class="b6-member">
                                    <figure class="b6-figure">
						            	<img src="../static/images/other/pri.png" class="b6-pic">
						            </figure>
						            <div class="b6-text">
										<h5 class="b6-heading">Priyanka S Sawant</h5>
										<h7 class="b6-h7">z5149937</h7>
										<h7 class="b6-h7">Backend</h7>
						            </div>
                                </div>
                                <div class="b6-member">
                                    <figure class="b6-figure">
						            	<img src="../static/images/other/dong.JPG" class="b6-pic">
						            </figure>
						            <div class="b6-text">
										<h5 class="b6-heading">Youran Dong</h5>
										<h7 class="b6-h7">z5136941</h7>
										<h7 class="b6-h7">Backend</h7>
						            </div>
                                </div>
                                <div class="b6-member">
                                    <figure class="b6-figure">
						            	<img src="../static/images/other/ella.png" class="b6-pic">
						            </figure>
						            <div class="b6-text">
										<h5 class="b6-heading">Yakun Zhao</h5>
										<h7 class="b6-h7">z5103010</h7>
										<h7 class="b6-h7">Frontend</h7>
						            </div>
                                </div>
                                <div class="b6-member">
                                    <figure class="b6-figure">
						            	<img src="../static/images/other/timur.png" class="b6-pic">
						            </figure>
						            <div class="b6-text">
										<h5 class="b6-heading">Timur Abdiukov</h5>
										<h7 class="b6-h7">z5214048</h7>
										<h7 class="b6-h7">Database system</h7>
						            </div>
                                </div>
                            </div>
	                    </div>

						<div class="block-6" style="width: 27%;">
							<div class="b6-title">
								<h3>Follow Us</h3>
							</div>
                            <div class="b6-content" style="margin-left: 1rem;margin-top: 3rem;">
                            	<img src="../static/images/icons/facebook.png" class="b6-icon">
                            	<img src="../static/images/icons/twitter.png" class="b6-icon">
                            	<img src="../static/images/icons/wechat.png" class="b6-icon">
                            	<img src="../static/images/icons/google-plus.png" class="b6-icon">
                            	<img src="../static/images/icons/instagram.png" class="b6-icon">
                            </div>
                        </div>

	                </div>
	            </div>
	        </div>
	    </footer>
		    

	</body>
</html>