<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
	<head>
		<title>Home Page</title>

        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/jquery.range.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script   type="text/javascript" src="{{url_for('static', filename='jquery.range.js')}}"></script>
                <script type="text/javascript" src="{{url_for('static', filename='daterangepicker.js')}} "></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script   type="text/javascript" src="{{url_for('static', filename='project.js')}}"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
       <link rel="stylesheet" type="text/css" href="../static/daterangepicker.css" />


        <script>
  $(function() {

  $('input[name="date"]').daterangepicker({
      autoUpdateInput: false,
      autoApply: true,
      opens: "center",
      locale: {
          cancelLabel: 'Clear'
      }
  });

  $('input[name="date"]').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
  });

  $('input[name="date"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
  });

});
   $(function() {



   $("#orderby").change(function() {
    var a =   $("#orderby").val();
    $.getJSON({

    url: "/getData",
        method:'POST',
    data: a,
    success: function(data){

            alert(data)
    }
    });

 });
    });


        </script>


        <link rel="icon" href="../static/images/icons/a.ico" type="image/x-icon">
	</head>


	<body>

{% extends "base.html" %}
{% block body_contents %}


		<div class="block-1">
			<div class="block-1-1" style="background-image: url('../static/images/bg-img/Sydney.gif');">
        		<div class="container">
          			<div class="row">
            			<div class="col-1">
              				<span class="subheading">Welcome</span>
              				<h2 class="heading1">Simple and Easy</h2>
              				<p><a href="contact.html" class="btn btn-primary">Learn More</a></p>
            			</div>
          			</div>
        		</div>
      		</div>
		</div>

		<div class="container">
			<div class="row" style="margin-bottom: 3rem;">
		        <div class="col-2">
		          	<div class="block-2">
			          	<div class="b2-title">
	                        <p>Search for your home</p>
	                    </div>

						<form action="{{ url_for('homepage')}}" method='POST' id="advanceSearch" autocomplete="off" >
						  	<div class="row">
                                    <div class="b2-input-wrap" style="width: 30%;">
                                    <label class="b2-label">Keyword Search:</label>
                                    <input class="form-control" type="text" name="keyword" placeholder="e.g. Kingsford"\>
                                </div>
                                <div class="b2-input-wrap" style="width: 30%; margin-left: -80px;">
                                    <label class="b2-label">Date Range:</label>
                                    <input class="form-control" type="text" name="date" value = "" style="text-align: center;" />
                                </div>

                                <div class="b2-input-wrap" style="width: 30%;display: block;">
                                    <label class="b2-label">Price Range:</label>
                                    <div style="padding-top: 20px;">
                                        <input class="range-slider" type="hidden" id="pricerange" name="price"/>
                                    </div>
                                </div>

                                <div id="hidDiv" style="display: none; padding-top: 2rem;">

                                <div class="b2-input-wrap">
                                    <label class="">Adult:</label>
                                    <input type='button' class='qtyminus' value='-' field='adult'  />
                                        <input type='text' name='adult' value='0' class='qty' />
                                        <input type='button' class='qtyplus' value='+' field='adult' />
	                            </div>
                                    <div class="b2-input-wrap" style="width: 300px;">
                                    <label class="b2-label">Infant:</label>

                                            <label class="b31-label">
                                                <input class="b31-checkbox" type="checkbox" name="infant" value='Yes' id="" style="display: inline">
                                            </label>

                                 </div>
                                    <div class="b2-input-hid" style="width:80%;text-align: center; ">
                                        <label class="b2-label">Bedrooms:</label>
                                        <input type='button' class='qtyminus' value='-' field='bedrooms' style="margin-left: 1.25rem;" />
                                        <input type='text' name='bedrooms' value='0' class='qty' />
                                        <input type='button' class='qtyplus' value='+' field='bedrooms' />
                                    </div>
                                    <div class="b2-input-hid" style="width:80%;text-align: center;">
                                        <label class="b2-label">Beds:</label>
                                        <input type='button' class='qtyminus' value='-' field='beds' style="margin-left: 3.6rem;" />
                                        <input type='text' name='beds' value='0' class='qty' />
                                        <input type='button' class='qtyplus' value='+' field='beds' />
                                    </div>
                                    <div class="b2-input-hid" style="width:80%;text-align: center; ">
                                        <label class="b2-label">Bathrooms:</label>
                                        <input type='button' class='qtyplus' value='-' field='bath' style="margin-left: 1.2rem;" />
                                        <input type='text' name='bath' value='0' class='qty' />
                                        <input type='button' class='qtyplus' value='+' field='bath' />
                                    </div>

                                    <div class="b2-input-hid" style="width: 90%;">
                                        <label class="b2-label" style="margin-left: -20px;">Amenities:</label>
                                        <table>
                                            <tr>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="21" id="amenities7">
                                                    <label class="b31-checkbox-label" for="amenities7">Wireless Internet</label>
                                                </td>

                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="17" id="amenities2">
                                                    <label class="b31-checkbox-label" for="amenities2">Shampoo</label>
                                                </td>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="10" id="amenities3">
                                                    <label class="b31-checkbox-label" for="amenities3">Heating</label>
                                                </td>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="1" id="amenities4">
                                                    <label class="b31-checkbox-label" for="amenities4">Air conditioning</label>
                                                </td>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="20" id="amenities5">
                                                    <label class="b31-checkbox-label" for="amenities5">Washer</label>
                                                </td>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="7" id="amenities6">
                                                    <label class="b31-checkbox-label" for="amenities6">Dryer</label>
                                                </td>

                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="2" id="amenities8">
                                                    <label class="b31-checkbox-label" for="amenities8">Breakfast</label>
                                                </td>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="3" id="amenities21">
                                                    <label class="b31-checkbox-label" for="amenities21">Buzzer/wireless intercom</label>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="12" id="amenities9">
                                                    <label class="b31-checkbox-label" for="amenities9">Indoor fireplace</label>
                                                </td>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="15" id="amenities1">
                                                    <label class="b31-checkbox-label" for="amenities1">Kitchen</label>
                                                </td>

                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="14" id="amenities13">
                                                    <label class="b31-checkbox-label" for="amenities13">Iron</label>
                                                </td>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="22" id="amenities17">
                                                    <label class="b31-checkbox-label" for="amenities17">Self check-in</label>
                                                </td>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="19" id="amenities14">
                                                    <label class="b31-checkbox-label" for="amenities14">TV</label>
                                                </td>

                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="8" id="amenities11">
                                                    <label class="b31-checkbox-label" for="amenities11">Hair dryer</label>
                                                </td>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="11" id="amenities30">
                                                    <label class="b31-checkbox-label" for="amenities30">High chair</label>
                                                </td>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="4" id="amenities20">
                                                    <label class="b31-checkbox-label" for="amenities20">Carbon monoxide detector</label>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="5" id="amenities15">
                                                    <label class="b31-checkbox-label" for="amenities15">Crib</label>
                                                </td>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="18" id="amenities18">
                                                    <label class="b31-checkbox-label" for="amenities18">Smoke detector</label>
                                                </td>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="6" id="amenities10">
                                                    <label class="b31-checkbox-label" for="amenities10">Doorman</label>
                                                </td>
                                                <td>
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="9" id="amenities12">
                                                    <label class="b31-checkbox-label" for="amenities12">Hangers</label>
                                                </td>
                                                <td colspan="3">
                                                    <input class="b31-checkbox" type="checkbox" name="amenities" value="16" id="amenities19">
                                                    <label class="b31-checkbox-label" for="amenities19">Laptop friendly workspace</label>
                                                </td>
                                                <td>

                                                </td>
                                                <td>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="b2-input-hid" style="width: 100%;">
                                        <label class="b2-label" style="margin-left: -20px;">Facilities:</label>
                                        <table>
                                            <tr>
                                                <td style="width: 20%">
                                                    <input class="b31-checkbox" type="checkbox" name="facilities" value="2" id="facilities1">
                                                    <label class="b31-checkbox-label" for="facilities1">Gym</label>
                                                </td>
                                                <td style="width: 20%">
                                                    <input class="b31-checkbox" type="checkbox" name="facilities" value="1" id="facilities2">
                                                    <label class="b31-checkbox-label" for="facilities2">Spa</label>
                                                </td>
                                                <td style="width: 20%">
                                                    <input class="b31-checkbox" type="checkbox" name="facilities" value="0" id="facilities3">
                                                    <label class="b31-checkbox-label" for="facilities3">Pool</label>
                                                </td>
                                                <td style="width: 40%">
                                                    <input class="b31-checkbox" type="checkbox" name="facilities" value="3" id="facilities4">
                                                    <label class="b31-checkbox-label" for="facilities4">Free parking on premises</label>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="b2-input-hid" style="width: 90%;">
                                        <label class="b2-label" style="margin-left: -20px;">Unit Rules:</label>
                                        <table style="width: 55%;">
                                            <tr>
                                                <td style="width: 15%">
                                                    <input class="b31-checkbox" type="checkbox" name="rule" value="1" id="rule1">
                                                    <label class="b31-checkbox-label" for="rule1">Suitable for events</label>
                                                </td>
                                                <td style="width: 10%">
                                                    <input class="b31-checkbox" type="checkbox" name="rule" value="2" id="rule2">
                                                    <label class="b31-checkbox-label" for="rule2">Pets allowed</label>
                                                </td>
                                                <td style="width: 15%">
                                                    <input class="b31-checkbox" type="checkbox" name="rule" value="3" id="rule3">
                                                    <label class="b31-checkbox-label" for="rule3">Smoking allowed</label>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

							    <div class="b2-input-wrap" style="width: 100%;">
                                    <input type="button" value="+ More filters" class="btn-primary" style="float: left; margin-top: 1.5rem;"
                                    onclick="advSearch()">
                                    <input type="submit" name="submit" class="btn btn-primary btn-block" value="Check Availabilty" style="float: right;width: 150px;">
							    </div>
						  	</div>
						</form>

		          	</div>
		        </div>
		    </div>
		</div>

		<div class="container">

            <!--<div class="row" style="margin-bottom: 50px;">-->
					<!--<div class="col-1">-->
						<!--<div class="block-5-1">-->
							<!--<div class="b51-order">-->
								<!--<span class="b51-span">Order by:</span>-->
	                            <!--<select class="b31-select" id="orderby">-->
	                              <!--<option selected>Default</option>-->
	                              <!--<option value="relevant">Relevant</option>-->
	                              <!--<option value="newest">Newest</option>-->
	                              <!--<option value="popularity">Popularity</option>-->
	                              <!--<option value="ratings">Ratings</option>-->
	                              <!--<option value="price1">Price(lowest first)</option>-->
	                              <!--<option value="price2">Price(highest first)</option>-->
	                            <!--</select>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

			<div class="row">
				<div class="col-1">
                    {% if err %}
                    {{ err }}
                    <br/>
                    <br/>
                    {% endif %}

              {% if session['logged_in']%}
                    {% if data2 %}

                    <div class="block-8">
                        <nav aria-label="b8-nav">
                            <span>

                               Recommended for you

                            </span>

                        </nav>

					<div class="block-7">
                        {% for i in range(0,len) %}

                        <div class="b7-wrap">
                            <a href="{{  url_for('detail', prop_id=data2[i][0][0] )}}" class="b7-a">
                                <img class="b7-image"  src="../static/images/room_pics/{{img2[i][0][0]}}"></img>
                            </a>
                            <div class="b7-info">
                                <h7 >{{data2[i][0][12]}}</h7>
                                <div class="b7-price"><sub class="b7-sub">$<span class="b7-number">{{data2[i][0][7]}}</span>/per night</sub>
                                </div>
                                <ul class="b7-ul">
                                    <li class="b7-li"><strong>Rating:</strong> {{rate[i]}}</li>
                                  <li class="b7-li"><strong>Type:</strong> {{data2[i][0][14].capitalize()}}</li>
                                  <li class="b7-li"><strong>Beds:</strong> {{data2[i][0][2]}}</li>
                                  <li class="b7-li"><strong>Bathroom:</strong> {{data2[i][0][3]}} </li>
                                  <li class="b7-li"><strong>Guests:</strong> {{data2[i][0][4]}} </li>
                                  <li class="b7-li"><strong>Suburb:</strong> {{data2[i][0][8]}}</li>

                                </ul>

                                <p><a href="{{  url_for('detail',prop_id=data2[i][0][0] )  }}" class="btn btn-primary b7-button">Details</a></p>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                        {% endif %}
                        {% endif %}

                        <div class="block-8">
                        <nav aria-label="b8-nav">
                            <span>

                              Popular

                            </span>

                        </nav>
                            		<div class="block-7">
                        {% for i in range(0,len) %}

                        <div class="b7-wrap">
                            <a href="{{  url_for('detail', prop_id=data[i][0][0] )}}" class="b7-a">
                                <img class="b7-image"  src="../static/images/room_pics/{{img[i][0][0]}}"></img>
                            </a>
                            <div class="b7-info">
                                <h7 >{{data[i][0][12]}}</h7>
                                <div class="b7-price"><sub class="b7-sub">$<span class="b7-number">{{data[i][0][7]}}</span>/per night</sub>
                                </div>
                                <ul class="b7-ul">
                                      <li class="b7-li"><strong>Rating:</strong> {{rate[i]}}</li>
                                  <li class="b7-li"><strong>Type:</strong> {{data[i][0][14].capitalize()}}</li>
                                  <li class="b7-li"><strong>Beds:</strong> {{data[i][0][2]}}</li>
                                  <li class="b7-li"><strong>Bathroom:</strong> {{data[i][0][3]}} </li>
                                  <li class="b7-li"><strong>Guests:</strong> {{data[i][0][4]}} </li>
                                  <li class="b7-li"><strong>Suburb:</strong> {{data[i][0][8]}}</li>
                                </ul>

                                <p><a href="{{  url_for('detail',prop_id=data[i][0][0] )  }}" class="btn btn-primary b7-button">Details</a></p>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="block-8">
                        <nav aria-label="b8-nav">
                            <span>
                                <a href="{{ url_for('accommodation')}}">
                                Show More
                                </a>
                            </span>
                            <!--<ul class="b8-ul">-->
                                <!--<li class="b8-li">-->
                                    <!--<a class="b8-pagenum" href="#">&laquo;</a>-->
                                <!--</li>-->
                                <!--<li class="b8-li">-->
                                    <!--<a class="b8-pagenum b8-active" href="#">01</a>-->
                                <!--</li>-->
                                <!--<li class="b8-li">-->
                                    <!--<a class="b8-pagenum" href="#">02</a>-->
                                <!--</li>-->
                                <!--<li class="b8-li">-->
                                    <!--<a class="b8-pagenum" href="#">03</a>-->
                                <!--</li>-->
                                <!--<li class="b8-li">-->
                                    <!--<a class="b8-pagenum" href="#">&raquo;</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        </nav>
                    </div>
				</div>
			</div>
		</div>
{% endblock %}

	</body>

</html>