<!DOCTYPE html>
<meta charset="utf-8"> 
<html>
	<head>
		<title>Message Host</title>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="icon" href="../static/images/icons/a.ico" type="image/x-icon">
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</head>

	<body>
		<!--navigation menu-->
		<nav class="my-nav-bar">
	        <div class="container">
	           <a class="my-navbar-name" href="{{  url_for('homepage')  }}">OurHotel</a>

				<div class="my-navbar-menu">
					<div class="my-nav-menu"><a class="my-nav-link" href="{{  url_for('homepage')  }}">Home</a></div>
					<div class="my-nav-menu"><a class="my-nav-link" href="{{  url_for('accommodation')  }}">Accommodation</a></div>
					<div class="my-nav-menu"><a class="my-nav-link" href="{{  url_for('services')  }}">Services</a></div>
					<div class="my-nav-menu"><a class="my-nav-link" href="{{  url_for('contact')  }}">Contact</a></div>

				</div>

				<div class="my-navbar-sign">
					<div class="my-nav-menu"><a class="my-nav-sign" href="{{  url_for('signup')  }}">Sign up</a></div>
					<div class="my-nav-slash">/</div>
					<div class="my-nav-menu"><a class="my-nav-sign" href="{{  url_for('signin')  }}">Sign in</a></div>
				</div>

	            <div class="my-navbar-setting">
	                <img class="my-nav-icon" onclick="javascript:location.href='setting.html'"
	                src="../static/images/icons/setting-999999.png"
	                 onmouseover="this.src='../static/images/icons/setting-ffcc00.png'"
	                 onmouseout="this.src='../static/images/icons/setting-999999.png'"/>
	            </div>
	        </div>
	    </nav>

		<div class="block-10" style="padding-top: 100px;">
			<div class="row">
				<div class="col-1">
					<div class="b10-left">
						<form action="post">
							<h1>Message Host</h1>
							<input type="text" name="name" placeholder="  Name" class="b10-input">
							<input type="text" name="email" placeholder="  Your email address" class="b10-input">
							<textarea name="message" placeholder="  Message"></textarea>
							<input type="submit" name="submit" class="btn-primary">
						</form>
						
					</div>
					<div class="b10-right">
						<div class="b10-top">
							<h3>Connect with Us</h3>
							<span>For support or any questions:</span>
							<span>Email us: <a href="mailto:ellazhaomint@gmail.com">ellazhaomint@gmail.com</a></span>
						</div>
						<div class="b10-bottom">
							<h3>OurHotel Sydney</h3>
							<span>Lab 304-Oboe, J17 Mech Eng</span>
							<span>University of New South Wales-Kensington Campus</span>
							<span>High St, Sydney NSW 2052</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--foot meta-->
		<footer class="footer-area">
	        <!-- Main Footer Area -->
	        <div class="main-footer-area">
	            <div class="container" style="padding-bottom: 3rem;">
	                <div class="row">
						<div class="block-6" style="width: 70%">
							<div class="b6-title">
								<h3>About us</h3>
							</div>
                            <div class="b6-content">
                                <div class="b6-member">
                                    <figure class="b6-figure">
						            	<img src="../static/images/other/pri.png" class="b6-pic">
						            </figure>
						            <div class="b6-text">
										<h5 class="b6-heading">Priyanka S Sawant</h5>
										<h7 class="b6-h7">z5149937</h7>
										<h7 class="b6-h7">Backend</h7>
						            </div>
                                </div>
                                <div class="b6-member">
                                    <figure class="b6-figure">
						            	<img src="../static/images/other/dong.JPG" class="b6-pic">
						            </figure>
						            <div class="b6-text">
										<h5 class="b6-heading">Youran Dong</h5>
										<h7 class="b6-h7">z5136941</h7>
										<h7 class="b6-h7">Backend</h7>
						            </div>
                                </div>
                                <div class="b6-member">
                                    <figure class="b6-figure">
						            	<img src="../static/images/other/ella.png" class="b6-pic">
						            </figure>
						            <div class="b6-text">
										<h5 class="b6-heading">Yakun Zhao</h5>
										<h7 class="b6-h7">z5103010</h7>
										<h7 class="b6-h7">Frontend</h7>
						            </div>
                                </div>
                                <div class="b6-member">
                                    <figure class="b6-figure">
						            	<img src="../static/images/other/timur.png" class="b6-pic">
						            </figure>
						            <div class="b6-text">
										<h5 class="b6-heading">Timur Abdiukov</h5>
										<h7 class="b6-h7">z5214048</h7>
										<h7 class="b6-h7">Database system</h7>
						            </div>
                                </div>
                            </div>
	                    </div>

						<div class="block-6" style="width: 27%;">
							<div class="b6-title">
								<h3>Follow Us</h3>
							</div>
                            <div class="b6-content" style="margin-left: 1rem;margin-top: 3rem;">
                            	<img src="../static/images/icons/facebook.png" class="b6-icon">
                            	<img src="../static/images/icons/twitter.png" class="b6-icon">
                            	<img src="../static/images/icons/wechat.png" class="b6-icon">
                            	<img src="../static/images/icons/google-plus.png" class="b6-icon">
                            	<img src="../static/images/icons/instagram.png" class="b6-icon">
                            </div>
                        </div>

	                </div>
	            </div>
	        </div>
	    </footer>
</body>
</html>