<!DOCTYPE html>
<meta charset="utf-8"> 
<html>
	<head>
		<title>Review</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="icon" href="../static/images/icons/a.ico" type="image/x-icon"> 
		<script type="text/javascript">
			/*This block for: control Button Plus&Minus*/
			jQuery(document).ready(function(){
		    // This button will increment the value
		    $('.qtyplus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If is not undefined
		        if (!isNaN(currentVal) && currentVal < 5) {
		            // Increment
		            $('input[name='+fieldName+']').val(currentVal + 0.5);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val("5");
		        }
		    });
		    // This button will decrement the value till 0
		    $(".qtyminus").click(function(e) {
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If it isn't undefined or its greater than 0
		        if (!isNaN(currentVal) && currentVal > 0) {
		            // Decrement one
		            $('input[name='+fieldName+']').val(currentVal - 1);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val(0);
		        }
		    });
		});
		</script>
	</head>

	<body>
		<!--navigation menu-->

{% extends "base.html" %}
{% block body_contents %}


		<div class="block-4">
			<div class="block-4-1" style="background-image: url('../static/images/bg-img/bg6.jpg');">
        		<div class="container">
          			<div class="row">
            			<div class="col-1">
              				<h3 class="heading3">Review</h3>
            			</div>
          			</div>
        		</div>
      		</div>
		</div>

		<div class="block-10">
			<div class="row">
				<div class="col-1">
					<div class="b10-left">
						<form action="{{ url_for('rev', id= id)}}" method="post">
							<!-- new -->
							<h1>Leave some review here:</h1>
							<div class="b10-rating">
								<span class="">Rating:</span>
								<!-- failure -->

	                            <select class="b10-select" name ="rate">
	                              <option selected value="rating5">5</option>
	                              <option value="4.5">4.5</option>
	                              <option value="4">4</option>
	                              <option value="3.5">3.5</option>
	                              <option value="3">3</option>
	                              <option value="2.5">2.5</option>
	                              <option value="2">2</option>
	                              <option value="1.5">1.5</option>
	                              <option value="1">1</option>
	                              <option value="0.5">0.5</option>
	                              <option value="0">0</option>
	                            </select>

							</div>
							
							<textarea name="message" placeholder="  Your review"></textarea>
							<input type="submit" name="submit" class="btn-primary">
						</form>
						
					</div>
					<div class="b10-right">
						<div class="b10-top">
							<h3>Connect with Us</h3>
							<span>For support or any questions:</span>
							<span>Email us: <a href="mailto:ellazhaomint@gmail.com">ellazhaomint@gmail.com</a></span>
						</div>
						<div class="b10-bottom">
							<h3>OurHotel Sydney</h3>
							<span>Lab 304-Oboe, J17 Mech Eng</span>
							<span>University of New South Wales-Kensington Campus</span>
							<span>High St, Sydney NSW 2052</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--foot meta-->
	{% endblock %}
</body>
</html>