<!DOCTYPE html>
<meta charset="utf-8"> 
<html>
	<head>
		<title>Book a home</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="icon" href="../static/images/icons/a.ico" type="image/x-icon"> 
	</head>

	<script type="text/javascript">
		/*This block for:control onclick show block*/
		function radioShow(){
			var myradio=document.getElementsByName("atype");  //
			var div=document.getElementById("subradio").getElementsByTagName("div");
			for(i=0;i<div.length;i++){
				if(myradio[i].checked){
					div[i].style.display="block";
				}
				else{
					div[i].style.display="none";
				}
			}
		}

		/*This block for: control Button Plus&Minus*/
		jQuery(document).ready(function(){
		    // This button will increment the value
		    $('.qtyplus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If is not undefined
		        if (!isNaN(currentVal) && currentVal < 7) {
		            // Increment
		            $('input[name='+fieldName+']').val(currentVal + 1);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val("8+");
		        }
		    });
		    // This button will decrement the value till 0
		    $(".qtyminus").click(function(e) {
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If it isn't undefined or its greater than 0
		        if (!isNaN(currentVal) && currentVal > 0) {
		            // Decrement one
		            $('input[name='+fieldName+']').val(currentVal - 1);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val(0);
		        }
		    });
		});
		jQuery(document).ready(function(){
		    // This button will increment the value
		    $('.qtyplus1').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If is not undefined
		        if (!isNaN(currentVal) && currentVal < 7) {
		            // Increment
		            $('input[name='+fieldName+']').val(currentVal + 1);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val("8+");
		        }
		    });
		    // This button will decrement the value till 0
		    $(".qtyminus1").click(function(e) {
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        fieldName = $(this).attr('field');
		        // Get its current value
		        var currentVal = parseInt($('input[name='+fieldName+']').val());
		        // If it isn't undefined or its greater than 0
		        if (!isNaN(currentVal) && currentVal > 0) {
		            // Decrement one
		            $('input[name='+fieldName+']').val(currentVal - 1);
		        } else {
		            // Otherwise put a 0 there
		            $('input[name='+fieldName+']').val(0);
		        }
		    });
		});



		/*This block is for calendar*/
		$('input[name="dates"]').daterangepicker();
		$(function() {
			$('input[name="datetimes"]').daterangepicker({
				timePicker: true,
				startDate: moment().startOf('hour'),
				endDate: moment().startOf('hour').add(32, 'hour'),
				locale: {
			  		format: 'M/DD hh:mm A'
				}
			});
		});

		$(":input").each(function(){
		    var input = $(this).val();
        });
	</script>

	<body>
		<!--navigation menu-->

{% extends "base.html" %}
{% block body_contents %}

		<div class="block-3">
			<div class="block-3-1" style="background-image: url('../static/images/bg-img/bg3.jpg');"></div>
			<div class="b31-contain-wrap">
				<div class="b31-form-title" >
					<span class="b31-form-title-1">
						Post
					</span>

					<span class="b31-form-title-2">
						Please fill out all forms
					</span>
				</div>

				<!--form-->
				<form action="{{  url_for('services')  }}" class="b31-sign-form" method = 'POST' enctype="multipart/form-data">
					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Accommodation Type:</span>
						<ul class="b31-ul">
							<li class="b31-li-two">
								<label class="b31-label" style="margin-left: 3rem;">
									<input class="b31-input-radio" type="radio" name="atype" value="apartment"  onclick="radioShow();">Apartment
								</label>
							</li>
							<li class="b31-li-two">
								<label class="b31-label">
									<input class="b31-input-radio" type="radio" name="atype" value="hotel"  onclick="radioShow();">House
								</label>
							</li>
						</ul>
						

						<!--this is the start of hidden part of div-->
						<!--Part1:Apartment-->
						<div id="subradio" class="b31-input-table" style="padding-right: 20rem;">
							<div class="b31-c1" style="display:none;">
								<table class="b31-table">
									<tr class="b31-table-tr">
										<td class="b31-table-td">
											<span class="b31-sub-name">Choose a type:</span>
										</td>
										<td class="b31-table-td">
											<select class="b31-select" name="type-apa">
												<option value="">Select Property Type</option>
												<option value="apartment">Apartment</option>
												<option value="condominium">Condominium</option>
												<option value="casa">Casa particular</option>
												<option value="loft">Loft</option>
												<option value="serviced">Serviced Apartment</option>
											</select>
										</td>
									</tr>
								</table>	
							</div>

							<!--Part2:House-->
							<div class="b31-c1" style="display:none;">
								<table class="b31-table">
									<tr class="b31-table-tr">
										<td class="b31-table-td">
											<span class="b31-sub-name">Choose a type:</span>
										</td>
										<td class="b31-table-td">
											<select class="b31-select" name="type-house">
												<option value="">Select Property Type</option>
												<option value="house">House</option>
												<option value="bungalow">Bungalow</option>
												<option value="cabin">Cabin</option>
												<option value="casa">Casa particular</option>
												<option value="chalet">Chalet</option>
												<option value="cottage">Cottage</option>
												<option value="domehouse">Dome House</option>
												<option value="earthhouse">Earth House</option>
												<option value="farmstay">Farm Stay</option>
												<option value="hut">Hut</option>
												<option value="tinyhouse">Tiny House</option>
												<option value="townhouse">Townhouse</option>
												<option value="trullo">Trullo</option>
												<option value="villa">Villa</option>
											</select>
										</td>
									</tr>
								</table>	
							</div>
						</div>
					</div>
					<!----                   end of hidden part                     ----->
					

					<script type="text/javascript">
						function addFields(){
				            // Number of inputs to create
				            var number = document.getElementById("bedroom").value;
				            // Container <div> where dynamic content will be placed
				            var container = document.getElementById("container");
				            // Clear previous contents of the container
				            while (container.hasChildNodes()) {
				                container.removeChild(container.lastChild);
				            }
				            container.appendChild(document.createTextNode("Please list the number of beds:"));
				            container.appendChild(document.createElement("br"));
				            for (i=0;i<number;i++){
				                // Append a node with a random text
				                container.appendChild(document.createTextNode("Bedroom" + (i+1) + " : "));
				                // Create an <input> element, set its type and name attributes
				                var input = document.createElement("input");
				                input.type = "text";
				                input.id = "hid-text";
				                input.name = "bedroom" + i;
				                container.appendChild(input);
				                // Append a line break 
				                container.appendChild(document.createElement("br"));
				            }
				        }
					</script>
					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Bedroom (max.10):</span>
						<input  class="b31-small-input" type="text" id="bedroom" name="bedroom" value="0" >
						<a href="#" class="b31-confirm-btn" id="filldetails" onclick="addFields()">OK</a>
					</div>
					<div class="b31-input-hidden">
						<div id="container"/>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Bathroom:</span>
						<input type='button' class='qtyminus' value='-' field='quantity' style="margin-left: 3.25rem;" />
					    <input type='text' name='quantity' value='0' class='qty' />
					    <input type='button' class='qtyplus' value='+' field='quantity' />
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Max Guest Number:</span>
						<input type='button' class='qtyminus1' value='-' field='quantity1' style="margin-left: 3.25rem;"/>
					    <input type='text' name='quantity1' value='0' class='qty' />
					    <input type='button' class='qtyplus1' value='+' field='quantity1' />
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Amenities:</span>
						<ul class="b31-ul">
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="15" id="amenities1">
								<label class="b31-checkbox-label" for="amenities1">Kitchen</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="17" id="amenities2">
								<label class="b31-checkbox-label" for="amenities2">Shampoo</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="10" id="amenities3">
								<label class="b31-checkbox-label" for="amenities3">Heating</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="1" id="amenities4">
								<label class="b31-checkbox-label" for="amenities4">Air conditioning</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="20" id="amenities5">
								<label class="b31-checkbox-label" for="amenities5">Washing Machine</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="7" id="amenities6">
								<label class="b31-checkbox-label" for="amenities6">Dryer</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="21" id="amenities7">
								<label class="b31-checkbox-label" for="amenities7">Wireless Internet</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="2" id="amenities8">
								<label class="b31-checkbox-label" for="amenities8">Breakfast</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="12" id="amenities9">
								<label class="b31-checkbox-label" for="amenities9">Indoor fireplace</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="6" id="amenities10">
								<label class="b31-checkbox-label" for="amenities10">Doorman</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="8" id="amenities11">
								<label class="b31-checkbox-label" for="amenities11">Hair dryer</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="9" id="amenities12">
								<label class="b31-checkbox-label" for="amenities12">Hangers</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="14" id="amenities13">
								<label class="b31-checkbox-label" for="amenities13">Iron</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="19" id="amenities14">
								<label class="b31-checkbox-label" for="amenities14">TV</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="5" id="amenities15">
								<label class="b31-checkbox-label" for="amenities15">Crib</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="11" id="amenities16">
								<label class="b31-checkbox-label" for="amenities16">High chair</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="22" id="amenities17">
								<label class="b31-checkbox-label" for="amenities17">Self check-in</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="18" id="amenities18">
								<label class="b31-checkbox-label" for="amenities18">Smoke detector</label>
							</li>
							<li class="b31-li-two" style="display: block; width: 20rem;">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="16" id="amenities19">
								<label class="b31-checkbox-label" for="amenities19">Laptop friendly workspace</label>
							</li>
							<li class="b31-li-two" style="display: block; width: 20rem;">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="4" id="amenities20">
								<label class="b31-checkbox-label" for="amenities20">Carbon monoxide detector</label>
							</li>
							<li class="b31-li-two" style="display: block; width: 20rem;">
								<input class="b31-checkbox" type="checkbox" name="amenities" value="3" id="amenities21">
								<label class="b31-checkbox-label" for="amenities21">Buzzer/wireless intercom</label>
							</li>
						</ul>
					</div>

					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Facilities:</span>
						<ul class="b31-ul">
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="facilities" value="2" id="facilities1">
								<label class="b31-checkbox-label" for="facilities1">Gym</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="facilities" value="1" id="facilities2">
								<label class="b31-checkbox-label" for="facilities2">Spa</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="facilities" value="0" id="facilities3">
								<label class="b31-checkbox-label" for="facilities3">Pool</label>
							</li>
							<li class="b31-li-two" style="display: block; width: 20rem;">
								<input class="b31-checkbox" type="checkbox" name="facilities" value="3" id="facilities4">
								<label class="b31-checkbox-label" for="facilities4">Free parking on premises</label>
							</li>
						</ul>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Unit Rules:</span>
						<ul class="b31-ul">
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="rule" value="1" id="rule1">
								<label class="b31-checkbox-label" for="rule1">Suitable for events</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="rule" value="2" id="rule2">
								<label class="b31-checkbox-label" for="rule2">Pets allowed</label>
							</li>
							<li class="b31-li-two">
								<input class="b31-checkbox" type="checkbox" name="rule" value="3" id="rule3">
								<label class="b31-checkbox-label" for="rule3">Smoking allowed</label>
							</li>
						</ul>
					</div>

					
					<div class="b31-input-wrap validate-input" data-validate="Address is required">
						<span class="b31-input-name">Full Address:</span>
						<input class="b31-input-form" type="text" name="address" placeholder="Enter Full Address">
						<span class="b31-focus-input"></span>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Suburb/Town is required">
						<span class="b31-input-name">Suburb/Town:</span>
						<input class="b31-input-form" type="text" name="suburb" placeholder="Enter name of Suburb/Town">
						<span class="b31-focus-input"></span>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Poscode is required">
						<span class="b31-input-name">Poscode:</span>
						<input class="b31-input-form" type="text" name="poscode" placeholder="Enter Poscode">
						<span class="b31-focus-input"></span>
					</div>
					<div class="b31-input-wrap validate-input" data-validate = "Title is required">
						<span class="b31-input-name">Title:</span>
						<input class="b31-input-form" type="text" name="title" placeholder="Enter Title of your property">
						<span class="b31-focus-input"></span>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Date Range is required">
						<span class="b31-input-name">Available Date Range:</span>
						<input class="b31-input-form" type="text" name="datetimes" style="width: 50%; text-align: center;" />
						<span class="b31-focus-input"></span>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Price is required">
						<span class="b31-input-name">Price/Day:</span>
						<span class="b31-dollar">$</span>
        				<input type="number" class="b31-number" name ="price" value="50" min="0" step="0.5" data-number-to-fixed="2" data-number-stepfactor="100"/>
    				</div>
					<div class="b31-input-wrap validate-input" data-validate="Photos are required">
						<span class="b31-input-name">Photos:</span>
						<input type="file" name="pic1" accept="image/*">
						<input type="file" name="pic2" accept="image/*">
						<input type="file" name="pic3" accept="image/*">
						<input type="file" name="pic4" accept="image/*">
						<input type="file" name="pic5" accept="image/*">
						<input type="file" name="pic6" accept="image/*">
						<span class="b31-focus-input"></span>
					</div>
					<div class="b31-input-wrap validate-input" data-validate = "Description is required">
						<span class="b31-input-name">Short Description:</span>
						<textarea class="b31-input-form" name="message" placeholder="Your Description..."></textarea>
						<span class="b31-focus-input"></span>
					</div>

					<div class="b31-submit-wrap">
						<button class="b31-form-btn">
							<span>
								Submit
								<!--<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>-->
							</span>
						</button>
					</div>
				</form>
			</div>
		</div>

		<!--foot meta-->
	{% endblock %}
		    

	</body>
</html>