<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!--friendly to mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="icon" href="../static/images/icons/a.ico" type="image/x-icon">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script type="text/javascript">
	$(document).ready(function () {


		var readURL = function (input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('.avatar').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}


		$(".file-upload").on('change', function () {
			readURL(this);
		});
	});
</script>
<body>
	<!--navigation menu-->

{% extends "base.html" %}
{% block body_contents %}



	<div class="block-11">
		<!--username/password/email/mobile/birthday/city/country/coderooms/follower/following-->
		<br>
		<br>
		<div class="container bootstrap snippet">
			<div class="row">
				<div class="col-sm-10" style="text-align: center;">
					<h3 class="heading3">Profile</h3>
				</div>
			</div>
			<br>
			<br>

			<div class="row">
				<div class="col-sm-3"><!--left col-->


					<div class="text-center">
						<img src="/static/images/user_pics/{{user_data[6]}}"
						class="avatar img-circle b11-avatar" alt="avatar" style="height: 150px; width: 150px;">
						<br>
						<br>

					</div>
					<br>

					<ul class="list-group">
						<li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
						<li class="list-group-item text-right"><span class="pull-left"><strong>Booking</strong></span> 3
						</li>
						<li class="list-group-item text-right"><span class="pull-left"><strong>Comments</strong></span> 14</li>
						<li class="list-group-item text-right"><span class="pull-left"><strong>Saved</strong></span> 37
						</li>
						<li class="list-group-item text-right"><span class="pull-left"><strong>Hosting</strong></span> 78
						</li>
					</ul>


				</div><!--/col-3-->
				<div class="col-sm-9">

					<ul class="nav nav-tabs">
						<!-- new -->
						<li class="active"><a data-toggle="tab" href="#profile" class="b11-a">User Proile</a></li>
						<li><a data-toggle="tab" href="#booking1" class="b11-a">Edit profile</a></li>
						<li><a data-toggle="tab" href="#booking" class="b11-a">Booking</a></li>
						<li><a data-toggle="tab" href="#saved" class="b11-a">Saved</a></li>
						<li><a data-toggle="tab" href="#hosting" class="b11-a">Hosting</a></li>
					</ul>


					<div class="tab-content">
						<div class="tab-pane active" id="profile">
							<hr>
							<form class="form" action="#" method="post" id="profileform">
								<div class="form-group">
									<div class="col-xs-6">
										<label for="first_name"><h5>Full name</h5></label>
										<h5><b>{{user_data[1]}}</b></h5></span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-6">
										<label for="email"><h4>Email</h4></label>
									<h5><b>{{user_data[3]}}</b></h5></span>
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-6">
										<label for="mobile"><h4>Phone</h4></label>
										<h5><b>{{user_data[4]}}</b></h5></span>
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-10">
									    <label for="description"><h4>Personal Description</h4></label>
									    <h5><b>{{user_data[5]}}</b></h5></span>
									</div>
								</div>

							</form>
							<hr>
						</div>
								<div class="tab-pane table-responsive narrow-pane" id="booking1">
							<h2></h2>
							<hr>
							<form class="form" action="{{url_for('edit_profile', id = user_data[0])}}" method="post" id="profile_form" enctype="multipart/form-data">
								<div class="form-group">
									<div class="col-xs-6">
										<label for="first_name"><h4>Full name</h4></label>
										<input type="text" class="form-control" name="first_name" id="first_name"
										placeholder="First name (Middle name) Last name" title="enter your full name.">
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-6">
										<label for="email"><h4>Email</h4></label>
										<input type="email" class="form-control" name="email" id="email"
										placeholder="you@email.com" title="enter your email.">
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-6">
										<label for="profile_pic"><h4>Picture</h4></label>
										<input id = "profile_pic" name="profile_pic" type="file" class="text-center center-block file-upload" accept="image/*">
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-6">
										<label for="mobile"><h4>Phone</h4></label>
										<input type="text" class="form-control" name="mobile" id="mobile"
										placeholder="Phone number" title="enter your mobile number if any.">
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-6">
										<label for="password"><h4>Password</h4></label>
										<input type="password" class="form-control" name="password" id="password"
										placeholder="Password" title="enter your password.">
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-6">
										<label for="confirmpwd"><h4>Confirm Password</h4></label>
										<input type="password" class="form-control" name="confirmpwd" id="confirmpwd"
										placeholder="Confirm password" title="enter your password again.">
									</div>
								</div>


								<div class="form-group">
									<div class="col-xs-10">
									    <label for="description"><h4>Personal Description</h4></label>
									    <textarea class="form-control" rows="3" name="description" id="description" style="resize: none;"></textarea>
									</div>
								</div>

								<div class="form-group">
									<div class="col-xs-12">
										<br>
										<button class="b11-button" type="submit">
											<i class="glyphicon glyphicon-ok-sign"></i>
											Save
										</button>
										<button class="b11-button" type="reset">
											<i class="glyphicon glyphicon-repeat"></i>
											Reset
										</button>
									</div>
								</div>
							</form>
							<hr>
						</div><!--/tab-pane-->

						<div class="tab-pane table-responsive narrow-pane" id="booking">
							<h2></h2>
							<hr>
							<form class="form" action="" method="post" id="bookingtable">
								<table class="table table-hover table-striped">
									<caption>My Booking</caption>
									<thead>
										<tr>
											<th>Name</th>

											<th>Data Range</th>
											<th>Total $</th>
											<th>Manage</th>
										</tr>
									</thead>
									<tbody>

											{% for i in booked %}

											<tr>
											<td>{{i[1]}}</td>
											<td>{{i[2]}}</td>
											<td>{{i[3]}}</td>
											<td>
												<a href="{{ url_for('detail', prop_id=i[0])}}" style="margin-right: 5px">View</a>
												<button type="button" class="btn btn-sm btn-info b11-opbtn" onclick="window.location.href='{{ url_for('review', id= i[0])}}'" >
													Review
												</button>
											</td>
										</tr>
										{% endfor %}


									</tbody>
								</table>
							</form>
						</div><!--/tab-pane-->

						<!-- new -->
						<div class="tab-pane table-responsive narrow-pane" id="saved">
							<h2></h2>
							<hr>
							<form class="form" action="" method="POST" id="bookingtable">
								<table class="table table-hover table-striped">
									<caption>My Saved List</caption>
									<thead>
										<tr>
											<th>Name</th>
											<th>Data Range</th>
											<th>Total $</th>

										</tr>
									</thead>
									<tbody>

											{% for i in saved %}

											<tr>
											<td>{{i[1]}}</td>
											<td>{{i[2]}}</td>
											<td>{{i[3]}}</td>
											<td>
												<a href="{{ url_for('detail', prop_id=i[0])}}" style="margin-right: 5px">View</a>
												<button name='review' type="button" class="btn btn-sm btn-info b11-opbtn" onclick="window.location.href='{{ url_for('review', id= i[0])}}'">
													Review
												</button>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</form>
						</div><!--/tab-pane-->

						<div class="tab-pane table-responsive narrow-pane" id="hosting">
							<h2></h2>
							<hr>
							<form class="form" action="" method="post" id="bookingtable">
								<table class="table table-hover table-striped">
									<caption>My Booking</caption>
									<thead>
										<tr>
											<th>Status</th>
											<th>Name</th>
											<th> Type </th>
											<th>Data Range</th>
											<th>Total $</th>
											<th>Manage</th>
										</tr>
									</thead>
									<tbody>
									{% for i in hosted %}
										<tr>
											<td>{{i[8]}}</td>
											<td>{{i[1]}}</td>
											<td>{{i[2]}}</td>
											<td>{{i[13]}}-{{i[14]}}</td>

											<td>{{i[15]}}</td>
											<td>
												<a href="{{ url_for('detail', prop_id=i[0])}}" style="margin-right: 5px">View</a>

												<!-- new -->

											</td>
										</tr>
										{% endfor %}

									</tbody>
								</table>
							</form>
						</div><!--/tab-pane-->



					</div><!--/tab-content-->

				</div><!--/col-9-->
			</div><!--/row-->

		</div>
	</div>
	</div>
	<!--foot meta-->
{% endblock %}
</body>
</html>