<!DOCTYPE html>
<meta charset="utf-8"> 
<html>
	<head>
		<title>Sign up</title>
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="icon" href="../static/images/icons/a.ico" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<script>
			 var formErrors = {% if error %}true{% else %}false{% endif %};
					$(document).ready(function() {
    				if (formErrors) {
        			$('.modal').modal('show');
    					}
					});</script>

	</head>

	<body>
		<!--navigation menu-->

{% extends "base.html" %}
{% block body_contents %}
		<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Form fields are required</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {% for i in error %}
		  <ul>
		  <li>
        {{i}}
			  </li>
			  </ul>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
		<div class="block-3">
			<div class="block-3-1" style="background-image: url('../static/images/bg-img/bg2.jpg');" data-stellar-background-ratio="0.5"></div>
			<div class="b31-contain-wrap">
				<div class="b31-form-title">
					<span class="b31-form-title-1">
						Sign up
					</span>

					<span class="b31-form-title-2">
						All fields are mandatory
					</span>
				</div>

				<form action="{{url_for('signup')}}" class="b31-sign-form" method="post" enctype="multipart/form-data">
					<div class="b31-input-wrap validate-input" data-validate="First Name is required">
						<span class="b31-input-name">Full Name:</span>
						<input class="b31-input-form" type="text" name="name" placeholder="Enter First name(Middle name)Last name">
						<span class="b31-focus-input"></span>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Phone is required" style="display: none;">
						<span class="b31-input-name">Gender:</span>
						<ul class="b31-ul">
							<li class="b31-li">
								<input class="b31-input-radio" type="radio" name="gender" value="male">
								<label class="b31-label">Male</label>
							</li>
							<li class="b31-li">
								<input class="b31-input-radio" type="radio" name="gender" value="female">
								<label class="b31-label">Female</label>
							</li>
							<li class="b31-li">
								<input class="b31-input-radio" type="radio" name="gender" value="other">
								<label class="b31-label">Other</label>
							</li>
						</ul>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Birthday is required" style="display: none;">
						<span class="b31-input-name">Date of Birth:</span>
						<input type="date" class="b31-bday" name="bday">
						<span class="b31-focus-input"></span>
					</div>
					<div class="b31-input-wrap validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<span class="b31-input-name">Email:</span>
						<input class="b31-input-form" type="text" name="email" placeholder="Enter email addess">
						<span class="b31-focus-input"></span>
					</div>

					<div class="b31-input-wrap validate-input" data-validate="Phone is required">
						<span class="b31-input-name">Phone:</span>
						<input class="b31-input-form" type="text" name="phone" placeholder="Enter phone number">
						<span class="b31-focus-input"></span>
					</div>
					<!--<div class="b31-input-wrap validate-input" data-validate="Photo is required">-->
						<!--<span class="b31-input-name">Avatar:</span>-->
						<!--<input id = "user_pic" name="user_pic" type="file" class="text-center center-block file-upload" accept="image/*">-->

						<!--<span class="b31-focus-input"></span>-->
					<!--</div>-->
					<div class="b31-input-wrap validate-input" data-validate="Username is required" style="display: none;">
						<span class="b31-input-name">Username:</span>
						<input class="b31-input-form" type="text" name="username" placeholder="Enter Username">
						<span class="b31-focus-input"></span>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Password is required">
						<span class="b31-input-name">Password:</span>
						<input class="b31-input-form" type="password" name="password1" placeholder="Enter Password">
						<span class="b31-focus-input"></span>
					</div>
					<div class="b31-input-wrap validate-input" data-validate="Confirm Password is required">
						<span class="b31-input-name">Confirm Password:</span>
						<input class="b31-input-form" type="password" name="password2" placeholder="Enter Confirm Password">
						<span class="b31-focus-input"></span>
					</div>
					<div class="b31-input-wrap validate-input" data-validate = "Description is required">
						<span class="b31-input-name">Personal Description:</span>
						<textarea class="b31-input-form" name="description" placeholder="Your Personal Description..." style="resize: none;"></textarea>
						<span class="b31-focus-input"></span>
					</div>

					<div class="b31-submit-wrap">
						<button class="b31-form-btn">
							<span>
								Submit
								<!--<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>-->
							</span>
						</button>

					</div>

				</form>

			</div>
		</div>


{% endblock %}
	</body>
</html>